h1 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-weight: 200;
}
.middle {
    padding-left:50%;
    padding-right:50%;
}

.center{
   text-align: center 
}
